<form method="post" action="{{ path('loan_repayment_approve', {'id': loan_repayment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('approve' ~ loan_repayment.id) }}">
    <button class="btn btn-primary" class="btn">Approve</button>
</form>
