{% extends 'base.html.twig' %}

{% block title %}Edit Loan application{% endblock %}

{% block body %}
    <h1>Edit Loan application</h1>

    {{ include('loan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('loan_index') }}">back to list</a>
{% endblock %}
